
.containercoun {
  color: #4FC27F;
  margin: 0 auto;
  text-align: center;
}

#headline {
  font-weight: normal;
  
  text-transform: uppercase;
}

.countli li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

.countli li span {
  display: block;
  font-size: 4.5rem;
}



@media all and (max-width: 768px) {
  #headline {
    font-size: calc(1.5rem * var(--smaller));
  }
  
  .countli  li {
    font-size: calc(1.125rem * var(--smaller));
  }
  
  .countli li span {
    font-size: calc(3.375rem * var(--smaller));
  }
}